@import './colores.css';

/* -----------------------------------------------------
 * General
 * ----------------------------------------------------- */

* {
    font-family: "Fira Sans Semibold", FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    border: none;
    border-radius: 0;
}

window#waybar {
    background-color: rgba(0,0,0,0.2);
    transition: background-color .5s;
}




/* -----------------------------------------------------
 * Workspaces
 * ----------------------------------------------------- */


#workspaces {
    background: @workspacesbackground1;
    margin: 5px 6px;
    padding: 0 4px;
    border-radius: 15px;
    font-size: 16px;
    font-weight: bold;
    color: @textcolor1;
    opacity: 0.8;
}

#workspaces button {
    margin: 4px 3px;
    padding: 0 8px;
    border-radius: 15px;
    background: @workspacesbackground2;
    color: @textcolor1;
    opacity: 0.4;
    transition: all 0.3s ease;
}

#workspaces button.active {
    min-width: 40px;
    opacity: 1;
}

#workspaces button:hover {
    opacity: 0.7;
}

/* -----------------------------------------------------
 * Window title
 * ----------------------------------------------------- */
#window {
    background: @backgroundlight;
    margin: 8px 15px 8px 0;
    padding: 2px 10px;
    border-radius: 12px;
    font-size: 16px;
    color: @textcolor2;
    opacity: 0.8;
}

window#waybar.empty #window {
    background: transparent;
}

/* -----------------------------------------------------
 * System modules
 * ----------------------------------------------------- */
#cpu,
#memory,
#temperature {
    margin: 0 6px;
    font-size: 16px;
    color: @iconcolor;
}

#temperature.critical {
    margin: 0 6px;
    font-size: 16px;
    color: #D22B2B;
}

/* -----------------------------------------------------
 * Idle inhibitor
 * ----------------------------------------------------- */
#idle_inhibitor {
    margin-right: 10px;
    font-size: 20px;
    color: @iconcolor;
    opacity: 0.8;
}

#idle_inhibitor.activated {
    color: #dc2f2f;
}

/* -----------------------------------------------------
 * Audio
 * ----------------------------------------------------- */
#pulseaudio {
    background: @backgroundlight;
    margin: 8px 15px 8px 0;
    padding: 2px 10px;
    border-radius: 15px;
    font-size: 16px;
    color: @textcolor2;
    opacity: 0.8;
}

#pulseaudio.muted {
    background: @backgrounddark;
    color: @textcolor1;
}

#custom-teclado
{
    background: @backgroundlight;
    margin: 8px 15px 8px 0;
    padding: 2px 10px;
    border-radius: 15px;
    font-size: 16px;
    color: @textcolor2;
    opacity: 0.8;
}

/* -----------------------------------------------------
 * Network
 * ----------------------------------------------------- */
#network {
    background: @backgroundlight;
    margin: 8px 15px 8px 0;
    padding: 2px 10px;
    border-radius: 15px;
    font-size: 16px;
    color: @textcolor2;
    opacity: 0.8;
}

/* -----------------------------------------------------
 * Backlight
 * ----------------------------------------------------- */
#backlight {
    background: @backgroundlight;
    margin: 8px 15px 8px 0;
    padding: 2px 10px;
    border-radius: 15px;
    font-size: 16px;
    color: @textcolor2;
    opacity: 0.8;
}

/* -----------------------------------------------------
 * Battery
 * ----------------------------------------------------- */
#battery {
    background: @backgroundlight;
    margin: 8px 15px 8px 0;
    padding: 2px 15px 0 10px;
    border-radius: 15px;
    font-size: 16px;
    color: @textcolor2;
    opacity: 0.8;
}

#battery.critical:not(.charging) {
    background: #f53c3c;
    color: @textcolor3;
    animation: blink 0.5s linear infinite alternate;
}

/* -----------------------------------------------------
 * Clock
 * ----------------------------------------------------- */
#clock {
    background: @backgrounddark;
    margin: 8px 15px 8px 0;
    padding: 1px 10px;
    border-radius: 15px;
    font-size: 16px;
    color: @textcolor1;
    border: 3px solid @bordercolor;
    opacity: 0.8;
}

/* -----------------------------------------------------
 * Tray
 * ----------------------------------------------------- */
#tray {
    padding-right: 15px;
    color: @textcolor3;
}

#power-profiles-daemon.performance
{
    background: #f53c3c;
    color: @textcolor3;
    border-radius: 15px;
    margin: 8px 15px 8px 0;
    padding: 1px 10px;
}
#power-profiles-daemon.balanced
{
    background: #ffA500;
    color: @textcolor3;
    border-radius: 15px;
    margin: 8px 15px 8px 0;
    padding: 1px 10px;
}
#power-profiles-daemon.power-saver
{
    background: #008000;
    color: @textcolor3;
    border-radius: 15px;
    margin: 8px 15px 8px 0;
    padding: 1px 10px;
}
